{% extends 'base.html' %}

{% block title %}Interested listings{% endblock %}

{% block head %}{% endblock %}

{% block content %}
    <h1>Interested listings</h1>

    {% if listing and listing|length > 0 %}
        <div class="cards">
            {% for l in listing %}
                <article class="card {% if l.unavailable %}unavailable{% endif %}">
                    <a href="{{ url_for('listing', listing_id=l.id) }}" title="Open listing">
                        <img class="card__image" src="{{ url_for('serve_data', listing_id=l.id, filename='0.webp') }}"
                             alt="{{ l.address.address }}">
                    </a>

                    <div class="card__body">
                        <h2 class="card__title">
                            <a href="{{ url_for('listing', listing_id=l.id) }}">{{ l.address.address }}</a>
                        </h2>

                        <div class="card__meta">
                            <div class="price">${{ l.price }}</div>
                            {% if l.unavailable %}
                                <div class="unavailable-badge">Unavailable</div>
                            {% endif %}
                        </div>

                    </div>
                </article>
            {% endfor %}
        </div>
    {% else %}
        <p>No interested listings yet.</p>
    {% endif %}

{% endblock %}
